h1, h2 {
    color: #f1c40f;
}

.home-link-container {
    text-align: center;
    margin-top: 20px;
}

/* 노래 관리 목록 스타일 (임시) */
.song-list {
    list-style: none;
    padding: 0;
}


/* 노래 관리 목록 아이템 */
.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #444;
}

.song-item:last-child {
    border-bottom: none;
}

.song-item .song-info .song-title {
    font-weight: bold;
    color: #eee;
}

.song-item .song-info .song-artist {
    color: #aaa;
    margin-left: 10px;
    font-size: 0.9em;
}

.song-item .buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #777;
}

.song-item .btn-edit {
    background-color: #3498db;
    color: white;
}

.song-item .btn-delete {
    background-color: #e74c3c;
    color: white;
}